body{

    padding: 50px;
    font-family: sans-serif;
}
.container{
    display:flex;
    justify-content: center;
    position: fixed;
    border: 1px solid white;
    margin: 10px;
    top:20px;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #66ccff;
}
section{
    width: 100%;
    height: 100vh;
}
